
body {
    background-color: rgb(255, 255, 255);
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 0;
    padding: 0;
    margin: 0;
}

.side-nav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(180, 180, 180);
    position: fixed;
    height: 100%;
    overflow: auto;
    justify-content: space-between;
}

.side-nav li a {
    display: block;
    text-decoration: none;
    padding: 10px 10px;
    color: rgb(53, 26, 85);
    transition: 0.3s;
}

.side-nav li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(52, 152, 179);
}

.side-nav li {
    list-style-type: none;
}

.side-nav ul {
    padding: 0;
}
.nav-social-media-links {
    margin-top: 20px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.nav-social-media-links a{
    color: rgb(53, 26, 85);
    transition: 0.3s;
}
.nav-social-media-links a:hover{
    color: rgb(52, 152, 179);
    transition: 0.3s;
}


.content-container {
    margin-left: 200px;
    height: 1000px;
    width: calc(100% - 200px);
}

section {
    height: 100%;
}

@media screen and (max-width: 700px) {
    .side-nav {
        width: 100%;
        height: auto;
        position: relative;
    }
    .content-container {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .side-nav li a {
        text-align: center;
        float: none;
    }
    .nav-social-media-links {
        display: none;
    }
}
