
#hero-section {
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pexels-bradleyhook-123335.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 20px;
}

#hero-section img {
    display: block;
    margin: 0 auto;
}

#hero-section h1 {
    font-weight: 800;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
}

#hero-section p {
    font-size: 1.2em;
    font-weight: 700;
}

/* KEY SERVICES SECTION */
#key-services-section {
    height: max-content;
    padding: 20px;
}
.key-services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.key-service {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.key-service img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.key-service h2{
    margin-left: 10px
}

#tech-highlights-section, #testimonials-section{
    height: fit-content;
    padding: 10px;
}
/* TESTIMONIALS SECTION */

.testimonials-container {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px;
}
.testimonial {
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 16px;
    margin: 16px 0;
    max-width: 1000px;
}

.testimonial img {
    display: block;
    margin: auto;
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

@media screen and (max-width: 500px) {
    .key-services-container{
        grid-template-columns: 1fr;
    }
  }